* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #1af1ea;
}

/* En-tête de la page web */
.header {
  padding: 30px;
  text-align: center;
  background-image: url("fond.jpg");
  width: 100%;
  border: 2px solid;
  background-color: white;
}

.header h1 {
  font-size: 50px;
}

/* Style de la barre de navigation principale */
.topnav {
  overflow: hidden;
  background-color: #0d0d21;
}

/* Style des liens de la barre de navigation principale */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Changement de couleur quand on passe au-dessus */
.topnav a:hover {
  background-color: #fff;
  color: #15ff19;
}

/* Création de 2 colonnes inégales flottant côte à côte */
/* Colonne gauche */
.leftcolumn {   
  float: left;
  width:50%;
}

/* Colonne droite */
.rightcolumn {
  float: right;
  width: 50%;
  background-color: #15ff19;
  padding-left: 20px;
}

/* Image */
.image {
  background-color: #fefefe;
  width: 100%;
  padding: 20px;
}

/* Ajoute des cartes pour encadrer les sujets */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Arrange les colonnes flottantes */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Pied de page */
.footer {
  color: white;
  padding: 20px;
  text-align: center;
  background: #00076f;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
	.middlecolumn {   
  float: left;
  width:100%;
  }
}